# IoT REST Service
# a Systemd service file for Linux.
# systemctl start iot_rest.service
# *			stop
# *			status

[Unit]
Description=iot_rest
After=syslog.target

[Service]
User=iot_rest
ExecStart=/var/iot_rest/iot_rest-0.0.1.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target